<div class="fire-flower">
  <div class="fire-flower__wrapper">
    <svg class="fire-flower__body"
         viewbox="15 60 70 44.5"
         preserveAspectRatio="xMidYMid slice"
         height="44.5" width="70">
      <path class="fire-flower__stem"
            d="m45,60 l0,42
            c0,0 0,2.5 5,2.5
            c0,0 5,0 5,-2.5
            l0,-42 z" />
      <path class="fire-flower__burn fire-flower__burn--green"
            d="m45,60 l0,42
            c0,0 0,2.5 5,2.5
            c0,0 5,0 5,-2.5
            l0,-42 z
            M46.5,84 l0,18
            c0,0 3,3 7.5,0
            l0,-20
            c0,0 -3,-3 -7.5,2" />
      <path class="fire-flower__pedal fire-flower__pedal--right"
            d="m55,100 l0,-6
            c0,0 0,-16 15,-16
            c0,0 10,0 15,6
            c0,0 0,27 -30,16 z" />
      <path class="fire-flower__burn fire-flower__burn--green"
            d="m55,100 l0,-6
            c0,0 0,-16 15,-16
            c0,0 10,0 15,6
            c0,0 0,27 -30,16 z
            M58,94.5 c0,0 0,-16 11,-16
            c0,0 8,-1 15,5
            c0,0 -2,25 -26,11 z" />
      <path class="fire-flower__pedal fire-flower__pedal--left"
            d="m45,100 l0,-6
            c0,0 0,-16 -15,-16
            c0,0 -10,0 -15,6
            c0,0 -0,27 30,16 z" />
      <path class="fire-flower__burn fire-flower__burn--green"
            d="m45,100 l0,-6
            c0,0 0,-16 -15,-16
            c0,0 -10,0 -15,6
            c0,0 -0,27 30,16 z
            M43,94.5 c0,0 0,-16 -13,-15.5
            c0,0 -7,-1 -13,5
            c0,0 2,24 26,11 z" />
    </svg>
    <div class="fire-flower__head">
      <div class="head__skull">
        <svg viewbox="15 32 70 46"
             preserveAspectRatio="xMinYMin slice"
             height="46" width="70">
          <path class="fire-flower__ring fire-flower__ring--red"
                d="m50,78 c0,0 35,0 35,-23
                  c0,0 0,-23 -35,-23
                  c0,0 -35,0 -35,23
                  c0,0 0,23 35,23 z
                  M50,70.5 c0,0 22.5,0 22.5,-14.5
                  c0,0 0,-14.5 -22.5,-14.5
                  c0,0 -22.5,0 -22.5,14.5
                  c0,0 0,14.5 22.5,14.5 z" />
          <path class="fire-flower__burn fire-flower__burn--red"
                d="m50,78 c0,0 35,0 35,-23
                  c0,0 0,-23 -35,-23
                  c0,0 -35,0 -35,23
                  c0,0 0,23 35,23 z
                  M50,70.5 c0,0 39,1 34,-18
                  c0,0 -1,-20 -34,-20
                  c0,0 -30,1 -30,21
                  c0,0 -1,22 33,22 z" />
        </svg>
      </div>
      <div class="head__face">
        <svg viewbox="15 32 70 46"
             preserveAspectRatio="xMinYMin slice"
             height="46" width="70">
          <path class="fire-flower__ring fire-flower__ring--white"
                d="m50,69 c0,0 20,0 20,-13
                  c0,0 0,-13 -20,-13
                  c0,0 -20,0 -20,13
                  c0,0 0,13 20,13 z" />
          <path class="fire-flower__ring fire-flower__ring--yellow"
                d="m50,73 c0,0 25,0 25,-17
                  c0,0 0,-17 -25,-17
                  c0,0 -25,0 -25,17
                  c0,0 0,17 25,17 z
                  M50,65 c0,0 16,0 16,-9
                  c0,0 0,-9 -16,-9
                  c0,0 -16,0 -16,9
                  c0,0 0,9 16,9 z" />
          <path class="fire-flower__burn fire-flower__burn--yellow"
                d="m50,73 c0,0 25,0 25,-17
                  c0,0 0,-17 -25,-17
                  c0,0 -25,0 -25,17
                  c0,0 0,17 25,17 z
                  M50,69 c0,0 24,1 23,-15
                  c0,0 0,-15 -23,-15
                  c0,0 -23,0 -23,15
                  c0,0 0,15 25,15 z" />
          <path class="fire-flower__burn fire-flower__burn--yellow"
                d="m50,73 c0,0 25,0 25,-17
                  c0,0 0,-17 -25,-17
                  c0,0 -25,0 -25,17
                  c0,0 0,17 25,17 z
                  M50,73 c0,0 22,0 22,-17
                  c0,0 0,-12.5 -22,-12.5
                  c0,0 -25,0 -25,12.5
                  c0,0 0,17 25,17 z z" />
          <path class="fire-flower__ring fire-flower__ring--red"
                d="m50,78 c0,0 35,0 35,-23
                  c0,0 0,-23 -35,-23
                  c0,0 -35,0 -35,23
                  c0,0 0,23 35,23 z
                  M50,70.5 c0,0 22.5,0 22.5,-14.5
                  c0,0 0,-14.5 -22.5,-14.5
                  c0,0 -22.5,0 -22.5,14.5
                  c0,0 0,14.5 22.5,14.5 z" />
          <path class="fire-flower__burn fire-flower__burn--red"
                d="m50.5,72 c0,0 25,0 25,-17
                  c0,0 0,-17 -25,-17
                  c0,0 -25,0 -25,17
                  c0,0 0,17 25,17 z
                  M50,70.5 c0,0 22.5,0 22.5,-14.5
                  c0,0 0,-14.5 -22.5,-14.5
                  c0,0 -22.5,0 -22.5,14.5
                  c0,0 0,14.5 22.5,14.5 z" />
          <path class="fire-flower__burn fire-flower__burn--red"
                d="m50,78 c0,0 35,0 35,-23
                  c0,0 0,-23 -35,-23
                  c0,0 -35,0 -35,23
                  c0,0 0,23 35,23 z
                  M50,75.5 c0,0 39,1 34,-23
                  c0,0 -1,-20 -34,-20
                  c0,0 -33,1 -33,21
                  c0,0 -1,22 33,22 z" />
          <path class="fire-flower__dodge"
                d="m82,49 c0,0 -2,-17 -35,-16
                  c0,0 30,0 35,16" />
        </svg>
      </div>
      <div class="head__eyes">
        <svg viewbox="15 32 70 46"
             preserveAspectRatio="xMinYMin slice"
             height="46" width="70">
          <path class="fire-flower__eye fire-flower__eye--left"
                d="m42,50 c0,0 2,0 2,2
                  l0,6
                  c0,0 0,2 -2,2
                  c0,0 -2,0 -2,-2
                  l0,-6
                  c0,0 0,-2 2,-2 z" />
          <path class="fire-flower__eye-glint fire-flower__eye-glint--left"
                d="m41.75,50.5 c0,0 1,0 1,1
                  l0,2
                  c0,0 0,1 -1,1
                  c0,0 -1,0 -1,-1
                  l0,-2
                  c0,0 0,-1 1,-1 z" />
          <path class="fire-flower__eye fire-flower__eye--right"
                d="m58,50 c0,0 2,0 2,2
                  l0,6
                  c0,0 0,2 -2,2
                  c0,0 -2,0 -2,-2
                  l0,-6
                  c0,0 0,-2 2,-2 z" />
          <path class="fire-flower__eye-glint fire-flower__eye-glint--right"
                d="m57.75,50.5 c0,0 1,0 1,1
                  l0,2
                  c0,0 0,1 -1,1
                  c0,0 -1,0 -1,-1
                  l0,-2
                  c0,0 0,-1 1,-1 z" />
        </svg>
      </div>
    </div>
    <!--  .fire-flower__head  -->
  </div>
</div>