<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/codemirror.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/clippy.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/mode/ruby/ruby.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/png">
    </head>
    <body>
        <div class=s1 id=div1>8 марта</div>
        <div class=s2 id=div2>8</div>
        <div class=s3 id=div3>8</div>
        <div class=s4 id=div4>8</div>
        <main>
          <marquee behavior="alternate" direction="right" scrollamount='12'>
            Реализуйте метод call - спасите гендерные праздники!
          </marquee>

          <div class="window">
            <div class="window_inner">
              <div class="window_heading">
                <div class="window_heading_icon"></div>
                Праздник!
                <div class="window_heading_buttons"></div>
              </div>
              <div class="window_actions">
                Помощь | Выход
              </div>
              <div class="window_content">
                <div class="window_content_inner">
                  <form action="upload" method="POST" enctype="multipart/form-data">
                    <textarea id="editor" name="code"><%= @code %></textarea>
                    <div class="winCl-wrap"><input class="winCl-btn" type="submit" value="Проверить"></div>
                    <div id="errors" style="color: red"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <%= erb :fireflower, layout: false %>
        </main>

        <script src="/js/clippy.min.js"></script>
        <script src="/js/js.js"></script>
    </body>
</html>
