body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    background: #e0d961;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes fluffy {
    from {
        color: red;
        background-color: aquamarine;
    }
    to {
        color: yellow;
        background-color: #ff63c5;
    }
}

img {
    margin-top: 2rem;
}

#errors {
    margin-top: 1em;
}

marquee {
    padding: 20px;
    font-size: 1.3rem;
    animation-name: fluffy;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.winCl-wrap {
    border: 1px solid #000;
    display: inline;
    margin-right: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
    background: #c6c6c6;
    margin: 10px;
}

.winCl-btn {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
    background-color: transparent;
    padding: 3px 15px 5px 15px;
}

.winCl-btn:hover,
.winCl-btn:focus {
    outline: 0;
}

.winCl-btn:active {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #848484;
    border-top: 1px solid #848484;
}

.CodeMirror {
    margin-bottom: 10px;
}

.s1 {FONT-SIZE: 10pt; VISIBILITY: hidden; COLOR: blue; POSITION: absolute; z-index: 200}
.s2 {	FONT-SIZE: 18pt; VISIBILITY: hidden; COLOR: red; POSITION: absolute; z-index: 200}
.s3 {	FONT-SIZE: 14pt; VISIBILITY: hidden; COLOR: gold; POSITION: absolute; z-index: 200}
.s4 {	FONT-SIZE: 12pt; VISIBILITY: hidden; COLOR: lime; POSITION: absolute; z-index: 200}

.window {
    width: 500px;
    font-family: 'Arial',sans-serif;
    background: #c0c0c0;
    border: 1px solid;
    border-top-color: #dfdfdf;
    border-left-color: #dfdfdf;
    border-right-color: #000;
    border-bottom-color: #000;
    margin: 2em;
}

.window_inner {
    border: 1px solid;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #808080;
    border-bottom-color: #808080;
}

.window_heading {
    margin: 2px 2px 0;
    padding: 1px 2px;
    color: #fff;
    background: linear-gradient(to right, #000080, #1084d0);
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}

.window_actions:hover{
    cursor: wait;
}


.window_actions {
    margin: 5px 9px;
    line-height: 1;
    color: #000;
    font-size: 11px;
}

.window_content {
    margin: 0 2px 2px 2px;
    border: 1px solid;
    border-top-color: #808080;
    border-left-color: #808080;
    border-bottom-color: #fff;
    border-right-color: #fff;
    font-size: 13px;
}

.window_content_inner {
    background: #fff;
    border: 1px solid;
    border-top-color: #000;
    border-left-color: #000;
    border-bottom-color: #dfdfdf;
    border-right-color: #dfdfdf;
    padding: 10px;
}

p {
    margin: 0;
}

body {
    overflow: hidden;
}
svg {
    height: 90vw;
    position: absolute;
    width: 60vw;
}
path {
    fill: transparent;
    stroke: #2196f3;
}


/*FireFLOWER!!!!!!!!!!!!!!!!!*/

.fire-flower {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    zoom: 0.7;
    right: 20px;
    bottom: 100px;
}
.fire-flower__wrapper {
    height: 45.14706vw;
    position: relative;
    width: 42vw;
}
.fire-flower__body, .fire-flower__head {
    position: absolute;
    top: 0;
    left: 0;
}
.fire-flower__body {
    height: 26.7vw;
    top: 18.44706vw;
    width: 42vw;
}
.fire-flower__head {
    height: 27.67059vw;
    position: relative;
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    transition: transform 200ms linear;
    width: 42vw;
}
.fire-flower__head > div, .fire-flower__head svg {
    height: 100%;
    position: absolute;
    width: 100%;
}
.fire-flower__head .head__eyes {
    transform: translateZ(5vw);
}
.fire-flower__head .head__face {
    transform: translateZ(0vw);
}
.fire-flower__head .head__skull {
    transform: translateZ(-5vw);
}
.fire-flower__eye {
    fill: #323333;
    stroke: transparent;
}
.fire-flower__eye-glint {
    fill: #fcffff;
    stroke: transparent;
}
.fire-flower__pedal {
    fill: #8bc34a;
    stroke: transparent;
}
.fire-flower__burn, .fire-flower__ring {
    fill-rule: evenodd;
    stroke-width: 0;
}
.fire-flower__burn {
    fill-opacity: 0.6;
    fill-rule: evenodd;
    stroke-width: 0;
}
.fire-flower__burn--green {
    fill: #5a911a;
}
.fire-flower__burn--red {
    fill: #c51104;
}
.fire-flower__burn--yellow {
    fill: #d1ba01;
}
.fire-flower__dodge {
    fill: #fcffff;
    fill-opacity: 0.4;
    fill-rule: evenodd;
    stroke-width: 0;
}
.fire-flower__ring--red {
    fill: #f44336;
}
.fire-flower__ring--yellow {
    fill: #ffeb3b;
}
.fire-flower__ring--white {
    fill: #fcffff;
}
.fire-flower__stem {
    fill: #8bc34a;
    stroke: transparent;
}
.fire-flower__stem-highlight {
    fill: #fcffff;
    fill-opacity: 0.4;
    stroke: transparent;
}
.grid {
    height: 45.14706vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 84vw;
}
.grid-line {
    stroke-width: 0.5;
}
.grid-line--horizontal {
    stroke: rgba(252, 255, 255, 0.1);
}
.grid-line--vertical {
    stroke: rgba(252, 255, 255, 0.2);
}
